<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css">
    <title>Guia chat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<style>
    #chat{
        max-height: 500px;
        min-height: 500px;
        background-color: aliceblue;
        overflow-y: scroll;
    }
</style>

<body>
    <h1>Guia chat</h1>
    <div id="chat">

    </div><br>
    <input type="text" name="" id="msg" placeholder="Digite sua mensagem" class="form-control">
    <input type="text" id="username" placeholder="Seu nome de usuário" class="form-control">
    <button onclick="enviar()" class="btn btn-primary btn-lg btn-block">Enviar mensagem</button>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js"></script>

<script>
    var socket = io("http://localhost:3000")
    socket.on("disconnect",() => {
        console.log("Desconectado.")
    })

    socket.on("showmsg", (data) => {
        console.log(data)
        var chat = document.getElementById("chat")
        var p = document.createElement("p")
        p.innerHTML = data.username + ": " + data.msg
        chat.append(p)
    })

    function enviar(){
        var msgField = document.getElementById("msg")
        var usernameField = document.getElementById("username")

        var msg = msgField.value 
        var username = usernameField.value

        socket.emit("msg",{msg: msg, username: username})
    }

    
</script>

</html>