<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de PDF</title>
</head>
<body>
    <h1 style= 'color: blue'>Testando geração de PDF</h1>
    <hr>
    <p>Nome: <%= nome %></p>
    <p>Curso: <%= curso %></p>
    <p>Categoria: <%= categoria %></p>


    <img src='https://static.wikia.nocookie.net/nanatsu-no-taizai/images/a/af/Meliodas_Anime.png/revision/latest?cb=20210209205929&path-prefix=pt-br'>
</body>
</html>